<div class="container" *ngIf="vehicle">
    <div class="my-3 p-3 bg-white rounded box-shadow" style="width: 60%;margin: auto;text-align: center;">
        <h5 class="border-bottom border-gray pb-2 mb-0">Details</h5>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">NAME</strong>
                <span>{{vehicle.name}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">MODEL</strong>
                <span>{{vehicle.model}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">MANUFACTURER</strong>
                <span>{{vehicle.manufacturer}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">COST CREDITS</strong>
                <span>{{vehicle.cost_in_credits | customFormat}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">LENGTH</strong>
                <span>{{vehicle.length | customFormat }}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">MAX SPEED</strong>
                <span>{{vehicle.max_atmosphering_speed| customFormat }}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">CREW</strong>
                <span>{{vehicle.crew | customFormat}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">PASSENGERS</strong>
                <span>{{vehicle.passengers | customFormat}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">CARGO CAPACITY</strong>
                <span>{{vehicle.cargo_capacity | customFormat}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">CONSUMABLES</strong>
                <span>{{vehicle.consumables| customFormat}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">VEHICLE CLASS</strong>
                <span>{{vehicle.vehicle_class}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">PILOTS</strong>
                <span *ngFor="let pilot of vehicle.pilots">{{pilot}}<br></span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">FILMS</strong>
                <span *ngFor="let film of vehicle.films">{{film}}<br></span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">CREATED</strong>
                <span>{{vehicle.created | customDate}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">EDITED</strong>
                <span>{{vehicle.edited | customDate}}</span>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <button type="button" class="btn btn-primary" (click)="onBack()">Back</button>
        </div>

    </div>

</div>