<main *ngIf="vehicle">
    <section class="infomations">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 container--info">
                <div class="card">
                    <div class="card--items">
                        <div class="product--info" style="width: 100%;">
                            <h1>{{vehicle.name}}</h1>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Name </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.name}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Model </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.model}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Manufacturer </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.manufacturer}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Cost credits </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.cost_in_credits | customFormat}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Length </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.length}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Max speed </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.max_atmosphering_speed}}km/h</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Crew </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.crew}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Passengers </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.passengers}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Cargo capacity </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.cargo_capacity}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Consumables </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.consumables}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Vehicle class </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.vehicle_class}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Pilots </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span *ngFor="let item of vehicle.pilots">{{item}}<br></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Films </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span *ngFor="let item of vehicle.films">{{item}}<br></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Created </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.created | customDate}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4 ">
                                    <strong>Edited </strong>
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-8">
                                    <span>{{vehicle.edited | customDate}}</span>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__footer--right">
                                    <i class="far fa-star"></i>
                                    <h2 (click)="onBack()">Back</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>