

<main >
    <section class="search__categories">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <div class="search__categories--input">
                    <form [formGroup]="formSearch">
                        <i class="fas fa-search"></i>
                        <input type="text" formControlName="name">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <h6 style="text-align: right;">{{ results.length }} results</h6>
        </div>
    </div>
    <section class="infomations" *ngIf="results">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 container--info">
                <div class="card" *ngFor="let item of results;trackBy: trackByFn">
                    <div class="card--items">
                        <div class="product--info">
                            <h1>{{item.name}}</h1>
                            <h2>{{item.model}} - {{item.manufacturer}}</h2>
                            <p>{{item.max_atmosphering_speed }}km/h</p>
                            <p>{{item.cost_in_credits | customFormat}}</p>
                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__footer--right">
                            <i class="far fa-star"></i>
                            <h2 (click)="onNavigateDetail(item.url)">Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 5px;">
            <nav *ngIf="totalPage > 1" aria-label="Page navigation example" style="margin: auto;">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [hidden]="previous === null">
                        <button class="page-link" (click)="onPrevious()" [disabled]="disBtnPrev">Previous</button>
                    </li>
                    <li class="page-item" [class.active]="currPage === i + 1"
                        *ngFor="let page of convArr(totalPage); let i = index">
                        <button class="page-link" (click)="onChangePage(i+1)">
                            {{i+1}}
                        </button>
                    </li>
                    <li class="page-item" [hidden]="next === null">
                        <button class="page-link" (click)="onNext()" [disabled]="disBtnNext">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>